* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.main {
  height: 100vh;
  background: url("../assets/images/background.png"),
    linear-gradient(160deg, #285bae, #4ca1d2);
}

.game-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 64px;
}

.settings {
  max-width: 1150px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  line-height: 24px;
  margin-bottom: 36px;
}

.grid-size,
.points,
.milliseconds,
.max-misses,
.mute {
  display: flex;
  flex-direction: column;
}

.mute {
  justify-content: space-between;
}

.grid-size__select,
.points__select,
.milliseconds__select,
.max-misses__select {
  padding: 6px 12px;

  color: #fff;
  background: none;
  min-width: 200px;
  border-radius: 30px;
  border: 1px solid #3c82c2;
}

.score {
  max-width: 375px;
  display: flex;
  justify-content: space-between;
  padding: 12px 36px;
  border-radius: 30px;
  background: #528cde;
  box-shadow: 0px 4px 8px 0px rgba(88, 150, 238, 0.3);

  margin-top: 0;
  margin-right: auto;
  margin-bottom: 36px;
  margin-left: auto;
}

.score__catch-text,
.score__miss-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  margin-right: 36px;
}

.score__catch-quantity,
.score__miss-quantity {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.grid {
  margin: 0 auto;
  border-spacing: 12px;
}

.grid__cell {
  border: 2px solid #54bae0;
  background: #4580c4;
  border-radius: 5px;
  width: 85px;
  height: 85px;
}

/* /////// */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  border: 1px solid #3c82c2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: #3c82c2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-image: url(./assets/images/volume-off.svg);
  background-repeat: no-repeat;
}

input:checked + .slider {
  background-color: #b0c255;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-image: url(./assets/images/volume-on.svg);
  background-repeat: no-repeat;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
